@value makerFormBorder, makerThemeColor, makerWhite from '/src/common/colors.css';

.button {
  flex-basis: 50%;
  background-color: makerWhite;
  border: none;
  border-top: 1px solid makerFormBorder;
  cursor: pointer;
}

.button:hover {
  background-color: makerThemeColor;
  color: makerWhite;
}
