@value makerNavy, makerThemeColor from '/src/common/colors.css';

.preview {
  flex-basis: 50%;
  padding: 0 0.5rem;
}

.cardList {
  padding: 1em;
}

.title {
  color: makerNavy;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid #c3cfdd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  cursor: default;
}
