@value makerFormBorder, makerThemeColor, makerWhite from '/src/common/colors.css';

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-basis: 50%;
  border-top: 1px solid makerFormBorder;
  border-right: 1px solid makerFormBorder;
  background-color: makerWhite;
}

.button {
  width: 100%;
  height: 100%;
  padding: 0.5em;

  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  background-color: makerThemeColor;
  color: makerWhite;
}

.input {
  display: none;
}

.loading {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid oldlace;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
