@value makerGray, makerWhite, makerThemeColor, makerBlue, makerLightGray from '/src/common/colors.css';

.header.onLogin {
  padding: 1em 0;
}

.header.onLogout {
  display: flex;
  min-height: 48px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 36px;
  height: 26px;
}

.title.onLogin {
  margin: 20px 0 16px;
  color: makerGray;
  font-weight: 800;
  font-style: italic;
}

.title.onLogout {
  color: makerThemeColor;
  font-size: 14px;
  font-weight: 500;
  cursor: default;
}

.logout {
  padding: 0.5em 1em;
  background-color: makerWhite;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: makerThemeColor;
  border: 1px solid makerLightGray;
}
