@value mediaQuery from '/src/common/size.css';
@value makerThemeBg from '/src/common/colors.css';

.maker {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 80rem;
  height: 100%;
  padding: 0 2em;
  background-color: makerThemeBg;
}

.container {
  display: flex;
  flex: 1;
  min-height: 0;
}

@media screen and (max-width: mediaQuery) {
  .maker {
    padding: 0 1em;
  }

  .container {
    flex-direction: column;
  }
}
